.video-page{
    width:100%;
    margin:auto;
    min-height:80vh;
    margin-bottom:50px;
    background-color:black;
    padding: 0 20px;
    .video-page-header{
      width:100%;
      min-height:600px;
      position:relative;
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 100%);
      display:flex;
      &:before{
        content: "";
        background: url(https://images.gr-assets.com/books/1348134701l/129984.jpg);
        background-size: cover;
        background-position:center;
        position: absolute;
        top: 0;
        height: 98%;
        filter: blur(8px);
        width: 100%;
        z-index: -1;
      }
      .video-description{
        width:100%;
        max-width:1000px;
        margin:auto;
        display:flex;
        .header-left{
          width:40%;
          min-width:250px;
          display:flex;
          flex-direction:column;
          img {
            border-radius:0.25rem;
            height: 350px;
            width:250px;
            object-fit:cover;
          }
          .my-list{
            border-radius: 0.25rem;
            padding: 10px 15px;
            display: flex;
            align-items:center;
            cursor:pointer;
            transition: all .5s;
            border: 2px solid $main-white;
            margin-top:20px;
            text-transform:uppercase;
            width: 130px;
            &:hover{
              background-color:$main-yellow;
            }
            i {
              margin-right:10px;
            }
          }
        }
        .header-right{
           width:60%;
           display:flex;
           flex-direction:column;
           justify-content:center;
           h1
            {
              margin-bottom:0;
            } 
            h2 {
              font-size:20px;
              margin:0;
              padding:0;
              span {
                margin-left:10px;
                color:#454545;
                font-weight:bold;
              }
            }
            p {
              color:#888888;
            }
            .info {
              display:flex;
              color: #454545;
              flex-direction: column;
              width: 100%;
              margin-bottom: 10px;
              h4, h5 {
                margin:0;
                font-size:18px
              }
              h5 {
                font-weight:normal;
                text-transform: capitalize;
              }
            }
            .rating{
              width:40px;
              border-radius: 0.25rem;
              margin-bottom:20px;
              padding: 5px 10px;
              background-color: rgba(132, 0, 50, 0.8);
            }
            .src {
              background-color: #454545;
              color: black;
              padding: 3px 5px;
              font-weight: bold;
              font-size: 13px;
              border-radius: 0.25rem;
              text-transform: uppercase;
              width: fit-content;
              cursor:default;
              margin-top: 5px;
          }
        }
      }
    }
    .streaming-container{
      width:100%;
      max-width:1000px;
      margin:0 auto 40px auto;
      position:relative;
      img {
        width:100%;
      }
      &:after{
        content:"";
        top:0;
        position:absolute;
        width:100%;
        height:100%;
        background-color: rgba(0,0,0,0.6);
      }
      .streaming-play{
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:70px;
        z-index:2;
        color: #454545;
        i {
          cursor:pointer;
          transition: all .5s;
          &:hover{
            color:$main-white;
          }
        }
      }
    }
    .comments-container{
        width:100%;
        max-width:1000px;
        margin:auto;
        margin-top:15px;
        border-top: 2px solid #454545;
        h1 {
          font-size:25px;
          margin-bottom:30px;
          color: #454545;
          font-weight: normal;
        }
       .profile-img {
            width:50px;
            height:50px;
            border-radius:0.25rem;
            object-fit:cover;
            cursor:pointer;
          }
        .one-comment{
          display: flex;
          margin-bottom:20px;
          position: relative;
          .comment-content{
            margin-left:10px;
            padding-top:5px;
            h4 {
              margin:0;
              cursor: default;
              font-size: 1.1rem;
              span{
                color: #454545;
                margin-left:10px;
                font-size: 0.9rem;
              }
            }
            p {
              margin: 0;
              margin-top:5px;
              color: #888888;
            }
          }
          i{
            position: absolute;
            right: 0;
            top: 10px;
            color:$dark-grey;
            cursor:pointer;
            transition: all .5s;
            font-size: 0.9rem;
            &:hover{
              color:$main-white
            }
          }
        }
      .add-comment{
        display:flex;
        .submit-comment{
          margin-left:10px;
          display:flex;
          flex-direction: column;
          flex-grow:1;
          input {
            background:transparent;
            border:0;
            border-bottom: 1px solid #454545;
            font-family:'Fira Sans', sans-serif;
            font-size:15px;
            color: $main-white;
            padding: 5px 0;
            transition: all .5s;
            &:focus{
              border-bottom: 1px solid $main-white;
              outline:none;
            }
          }
          .submit{
              font-size:15px;
              padding: 5px 10px;
              border-radius:0.25rem;
              align-self:flex-end;
              cursor:default;
              color: #888888;
              transition: all .5s;
          }
          .submit.active {
            color: $main-yellow;
            cursor: pointer;
          }
        }
      }
     }
  }

@media screen and (max-width: 750px){
  .video-page .video-page-header .video-description {
    flex-direction: column;
    .header-left {
      width: 100%;
      flex-direction: initial;
      align-items: flex-end;
      margin-bottom: 20px;
      .my-list{
        height: 50px;
      }
      img{
        margin-right: 20px;
      }
    }
    .header-right{
      width: 100%;
    }
  }
}

@media screen and (max-width: 475px){
  .video-page .video-page-header .video-description {
    flex-direction: column;
    .header-left {
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      img{
        margin-right: 0px;
      }
    }
  }
}