$main-yellow: #E59500;
$main-red: #840032;
$main-blue: #002642;
$main-white: #E5DADA;
$dark-grey:#454545;

$hypertube: 'Plaster', cursive;
$main-font: 'Fira Sans', sans-serif;


$font: 'Lato',sans-serif;

$red: #e50914;
$black: #221f1f;
$blackblack: #000000;
$grey: #f5f5f1;
$white: #ffffff;